@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:ital,wght@0,400;1,600&display=swap');

.App {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #d8c6b3;
}

.dark-btn {
  background-color: #8d7d6c;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 250ms;
  margin: 2rem auto;
  padding: 1rem 2rem;
}

.dark-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.433) 3px 4px 12px;
  transform: scale(1.02);
}

.dark-btn:active {
  background-color: #d1c2b3;
  box-shadow: rgba(0, 0, 0, 0.06) 0 6px 8px;
  color: #292d2e;
  transform: translateY(0);
  transition: 250ms;
  border: 1px solid #292d2e;
}

.inline-form {
  display: inline;
}

.open-sidebar, .close-sidebar {
  display: none;
}

@media screen and (max-width: 800px) {
  .App {
    padding-top: 1rem;
  }

  nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292d2e;
    overflow-x: hidden;
    transition: 0.3s;
  }

  .open-sidebar {
    display: inline-block;
    margin-right: 2rem;
    position: fixed;
    top: 0;
    height: 2rem;
    left: 0
  }
  
  .close-sidebar {
    display: block;
    font-size: 1.5rem;
    color: #d8c6b3;
    font-weight: 600;
    margin-left: auto;
    margin-bottom: 1rem;
    text-align: right;
  }
}