

.Homepage {
  background-color: #d8c6b3;
  flex: 1;
  padding: 3rem;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  display: inline;
  font-size: 2.25rem;
  margin: 8px;
}

.welcome-to {
  font-weight: 800;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-style: italic;
  display: inline;
}

hr {
  border-color: #292d2e;
  margin-top: 1rem;
  margin-bottom: 0;
}

.description {
  margin: 2.5rem auto;
  text-align: end;
}

.new-list {
  text-align: center;
}

.preview{
  width: 1000px;
  height: 500px;
  border: 3px solid black;
  margin: 0 auto;
  background-image: url("/public/images/list-screenshot.png");
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.433) 3px 4px 12px;;
}

.how-to {
  font-size: 1.5rem;
}
