.placeholder{
  width: 70vw;
  height: 30vh;
  border: 1px solid black;
  margin: 0 auto;
}

.Homepage {
  background-color: #d8c6b3;
  flex: 1;
  padding: 3rem;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  display: inline;
  font-size: 2.25rem;
  margin: 8px;
}

.welcome-to {
  font-weight: 800;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-style: italic;
  display: inline;
}

.Homepage div:first-child {
  margin-bottom: 2rem;
}

.description {
  margin-bottom: 2rem;
  text-align: end;
}

.new-list {
  text-align: center;
}

.new-list button {
    background-color: #8d7d6c;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 250ms;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
}

.new-list button:hover {
  box-shadow: rgba(0, 0, 0, 0.433) 3px 4px 12px;
  transform: scale(1.02);
}

.new-list button:active {
  background-color: #d1c2b3;
  box-shadow: rgba(0, 0, 0, 0.06) 0 6px 8px;
  color: #292d2e;
  transform: translateY(0);
  transition: 250ms;
  border: 1px solid #292d2e;
}

