.List {
  flex: 1;
  margin: 1rem 3rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 1fr;
}

.header {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.edit-btn {
  margin: 0 0 -0.25rem 1rem;
  transition: all 250ms;
  cursor: pointer;
}

.edit-btn:hover {
  transform: scale(1.2);
}

.edit-btn:active {
  transform: translateY(0);
  transition: 250ms;
}

.header-left h1 {
  font-weight: 800;
  font-family: 'Playfair Display', serif;
  margin: 0 4px 0;
  display: inline-block;
}

.category {
  display: inline-block;
  font-size: 1.2rem;
}

.danger-zone {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1.5rem 0 auto;
}

.danger-zone button {
  min-width: 9rem;
  margin: 0.5rem;
}

.danger {
  border: 1px solid rgb(198, 66, 46);
  color: #c6422e;
  background-color: rgba(198, 66, 46, 0.1);
  padding: 0.5rem;
  font-size: 14px;
}

.warning {
  border: 1px solid rgb(221, 141, 2);
  background-color: rgba(255, 162, 0, 0.1);
  color:rgb(90, 82, 69);
  padding: 0.5rem;
  font-size: 14px;
}

.category span {
  font-size: 1.7rem;
  font-weight: 400;
}

.list-content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#edit-form-input {
  background-color: transparent;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 2.25rem;
  color: black;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

@media screen and (max-width: 800px) {
  .header-left h1 {
    font-size: 2rem;
  }

  .header {
    grid-column: 1 / 3;
  }

  .list-content {
    grid-column: 1 / 3;
  }

  .danger-zone {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin: initial;
    margin-top: 2rem;
  }

  .item-input {
    font-size: 1.4rem;
  }
}