.modal {
  background-color: #292d2e;
  color: #f0e5da;
  position: absolute;
  max-width: 800px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 80px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 4rem;
}

.modal-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-content label {
  margin-right: 0.8rem;
  font-size: 1.2rem;
}

.modal-content input, 
.modal-content select {
  box-sizing: border-box;
  border: 1px solid #f0e5da;
  padding: 0.4rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  background-color: #292d2e;
  color: #f0e5da;
  margin-right: 2.2rem;
}

.modal-content input:focus,
.modal-content select:focus {
  outline-color: #f0e5da;
}

.modal-content button {
  display: block;
  background-color: #d8c6b3;
  color: #292d2e;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 250ms;
  padding: 0.5rem 1rem;
}

.modal-content button:hover {
  box-shadow: rgba(255, 255, 255, 0.300) 0 4px 14px;
  transform: scale(1.02);
}

.modal-content button:active {
  background-color: #8a8076;
  box-shadow: rgba(0, 0, 0, 0.06) 0 6px 8px;
  color: white;
  transform: translateY(0);
  transition: 250ms;
  border: 1px solid white;
}