ul{
  list-style: none;
  padding: 0;
}

nav{
  background-color: #292d2e;
  color: white;
  flex-basis: 15%;
  text-align: start;
  padding: 1.5rem;
}

nav .new-list-button {
  display: block;
  background-color: #d8c6b3;
  color: #292d2e;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 250ms;
  margin: 1.75rem auto;
  padding: 0.5rem 1rem;
}

nav .new-list-button:hover {
  box-shadow: rgba(255, 255, 255, 0.300) 0 4px 14px;
  transform: scale(1.02);
}

nav .new-list-button:active {
  background-color: #8a8076;
  box-shadow: rgba(0, 0, 0, 0.06) 0 6px 8px;
  color: white;
  transform: translateY(0);
  transition: 250ms;
  border: 1px solid white;
}

.homepage {
  color: #f0e5da;
  text-decoration: none;
  font-family: 'Playfair', serif;
  font-weight: 600;
  font-size: 1.75rem;
}

.homepage:hover {
  display: inline-block;
  transform: scale(1.04);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}